{% extends 'base.html.twig' %}

{% block title %}Hello AddCategoryController!{% endblock %}


{% block body %}
    
    <h2 class="text-center">Add new categoy:</h2>
    
    <div class="container mt-5 w-75">
        {{ form(form) }}
    </div>
{% endblock %}